/* ============================================
   BADGE
   ============================================ */

.badge {
  display: inline-block;
  padding: 0px 12px;
  font-size: 12px;
  font-weight: 700;
  line-height: 133%;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #7859cf;
  background-color: transparent;
  border: none;


  // @media (min-width: 768px) {
  //   padding: 6px 14px;
  // }
}
