/* ============================================
   FILTERS
   ============================================ */

.filters {
  width: 100%;
}

.filters__form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: 768px) {
    /// 3 колонки price, milk, country
    /// кнопки  применить и сбросить на одной строке
    /// сортирока на одной строке  в правом углу
  }

  @media (min-width: 1440px) {
    gap: 30px;
  }
}

.filters__group {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 280px;
}

.filters__legend {
  font-family: $font-family-primary;
  font-size: 16px;
  font-weight: $font-weight-semibold;
  line-height: 150%;
  color: #333333;
  margin-bottom: 20px;
}

.filters__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filters__item {
  margin: 0;
}

.filters__label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
  transition: color $transition-base;
}

.filters__label-text {
  font-size: 16px;
  line-height: 150%;
  color: $color-text-primary;
  transition: color $transition-base;
}

.filters__label:hover .filters__label-text,
.filters__label:focus-within .filters__label-text {
  color: #333333;
}

.filters__checkbox:disabled ~ .filters__label-text,
.filters__radio:disabled ~ .filters__label-text {
  color: $color-text-disabled;
  cursor: not-allowed;
}

.filters__checkbox:disabled + .filters__checkbox-mark,
.filters__radio:disabled + .filters__radio-mark {
  cursor: not-allowed;
}

.filters__checkbox:disabled + .filters__checkbox-mark + .filters__label-text,
.filters__radio:disabled + .filters__radio-mark + .filters__label-text {
  pointer-events: none;
}

.filters__buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    flex-direction: row;
    margin-bottom: 0;
  }
}

.filters__button {
  width: 100%;

  @media (min-width: $breakpoint-tablet) {
    width: auto;
  }
}
